@import url('sideBar.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', sans-serif;
    background: #f5f5f5;
    display: flex;
    min-height: 100vh;
}
.main-content{
    margin-left: 240px;
    flex: 1;
    padding: 30px 40px;
}
.top-menu{
    display: flex;
    margin-bottom: 40px;
}
.search-bar {
    padding: 16px 16px;
    border: 1px solid #e0e0e0;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s;
    width: 200%;
}
.filter-button{
    padding: 16px 20px;
    background: white;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s;
    gap : 8px;
}
.wrapper{
    position: relative;
    display: inline-block;
}
.filter-button:hover{
    background: rgb(240, 240, 240);
}
.filter-content{
    display: none;
    position : absolute;
    background: white;
    border: 1px solid #e0e0e0;
    min-width: 160px;

}
.filter-content.show {
    display: block;
}
.filter-element{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.search-button {
    padding: 16px 20px;
    background: #000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s;
    gap : 8px;
}

.search-button:hover {
    background: #333;
}