.sidebar {
    width: 240px;
    background: white;
    padding: 30px 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000
}
.sidebar.collapsed {
    width: 2vw;
}
.toggle-btn {
    position: fixed;
    left: 1vw;
    bottom: 1vw;
    background: white;
    cursor: pointer;
    border: none;
    z-index: 2000;
}

.toggle-btn svg {
    width: 35px;
    height: 35px;
}
.toggle-btn.collapsed {
    left: 3vw;
    bottom: 1vw;
}
.everything.collapsed{
    display: none;
}
.lego {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1a1a1a;
}

.nav-section {
    margin-bottom: 30px;
}

.nav-title {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    color: #666;
    text-decoration: none;
}
.nav-item.inactive {
    display: none;
}
.nav-item:hover {
    background: #f5f5f5;
    color: #333;
}

.nav-item.active {
    background: #000;
    color: white;
    font-weight: 600;
}

.nav-item svg {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}